
body{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3)), url("rdp-bg.jpeg"); */
  
    /* Full height */
    height: 100vw;
    /* opacity: 0.65; */
    /* background-color: black; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  
.heading{
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: "YAEnl21zi4U 0", _fb_, auto;
    font-size: 76.6356px;
    line-height: 1.05;
    text-transform: uppercase;
}
.box{
    margin-top: 2%;
    
    width: 100%;
    text-align: center;
    /* margin-left: 5%; */
}
.textField{
    width: 50%;
}
.profiles{
    margin-left: 2%;
    margin-bottom: 3%;
}